/* Układ kart produktów (lista) */
    .lista-produktow {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

/* Filtorowanie po kategorii i koszyk */
    .filtry-produkty form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .filtry-produkty-grupa {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .filtry-produkty-select {
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid #cecbcb;
        background-color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        min-width: 200px;
        transition: border-color 0.3s;
    }

    .filtry-produkty-select:focus {
        border-color: #e6a020;
        box-shadow: 0 0 5px rgba(218, 149, 2, 0.5);
        outline: none;        
    }

    .filtry-produkty-select:hover{
        border-color: #e6a020;
        
    }

    .filtry-produkty-select:disabled {
        background-color: #dad8d8;
        color: #726d6d;
        cursor: not-allowed;
        border-color: #444343;
        opacity: 0.6;
    }

    /* Koszyk */
        .btn-pokaz-koszyk {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #fab030;
            text-decoration: none;
            padding: 8px 20px;
            border-radius: 10px;
        }

        .btn-pokaz-koszyk:hover {
            background-color: #f09e10;
        }

        .btn-pokaz-koszyk img {
            width: 20px;
            height: auto;
        }

/* Karta jednego produktu*/
    .karta-produktu {
        display: flex;
        flex-direction: row;
        border: 1px solid #c7b299; 
        border-radius: 40px;
        overflow: hidden;
        background-color: #ffffff21;
        min-height: 50px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    }

    /* Zdjęcie jednego produktu */
        .karta-produktu-foto {
            flex: 0 0 200px;
            border-right: 1px solid #c7b299;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
        }

        .karta-produktu-foto img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            object-fit: cover;
        }

    /* Informacje o produkcie */
        .karta-produktu-info {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        /* Nazwa produktu i opis */
            .karta-produktu-tekst {
                flex: 1 0 auto;
                padding: 20px;
            }

            .karta-produktu-nazwa {
                color: #f1a521;
                font-size: 1.6em;
                margin: 0 0 10px 0;
                padding-bottom: 5px;
                border-bottom: 0.5px solid #c7b299;
                text-transform: uppercase;
            }

            .karta-produktu-opis {
                font-size: 1em;
                color: #000000;
                line-height: 1.4;
            }

        /* Dostępność i cena  */
            .karta-produktu-koszyk {
                display: flex;
                width: 100%;
                background: linear-gradient(180deg, #ffffff21, #ffffff);
            }

            .dostepnosc {
                flex: 0 0 30%;
                padding: 15px;
                border-right: 0.5px solid #c7b299;
                display: flex;
                align-items: center;
                box-sizing: border-box;
            }

            .zakup {
                flex: 0 0 70%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                padding: 5px;
                box-sizing: border-box;
            }

            .input-ilosc {
                width: 45px;
                height: 30px;
                text-align: center;
                border: 0.5px solid #c7b299;
                border-radius: 8px;
                font-weight: bold;
                margin: 0; 
            }


/* Widok w koszyku */
    .tabela-koszyk {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        background: radial-gradient(circle, #ffffff56, #ffffff15);
    }

    .tabela-koszyk th {
        background: rgba(0, 0, 0, 0);
        color: #383838;
        padding: 15px;
        text-align: left;
        border-bottom: 2px solid #e6a020;
        text-transform: uppercase;
        font-size: 14px;
    }

    .tabela-koszyk td {
        padding: 15px;
        border-bottom: 0.5px dotted #e6a020;
        vertical-align: middle;
    }

    .tabela-koszyk tr:last-child td {
        background-color: #f39f04d2;
        font-size: 18px;
        border-bottom: none;
    }


    .btn-usun {
        padding: 8px 12px;
        text-decoration: none;
    }

    .btn-powrot {
        display: flex;
        margin: 20px auto;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 10px 20px;
        background-color: #f39f04d2;
        color: #ffffff;
        text-decoration: none;
        border-radius: 20px;
    }

    .btn-powrot:hover {
        background-color: #f09e10;
    }
