/* Ustawienia globalne, tło */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: url('../image/tlo.jpg') no-repeat center center fixed;
        background-size: cover;
    }

/* Układ strony */
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr auto; 
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
        gap: 20px;
    }

    /* Nagłówek strony */
        header {   
            grid-column: 1 / 13;
            background: rgba(250, 211, 144, 0.726);
            padding: 20px;
            border-radius: 20px;

            text-align: center;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

            margin: 10px 10px 0 10px
        }

        header h1 {
            font-family: "Amarante", serif;
            font-weight: 400;
            font-style: normal;
            color: #ffffff;
            text-shadow: 1px 1px 15px black;
        }

    /* Główny kontener treści */
        main {
            grid-column: 4 / 13;
            grid-row: 2 / 3;
            background: rgba(255, 255, 255, 0.705);
            border-radius: 20px;
            padding: 30px;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
            margin-right: 10px;
        }

    /* Stopka strony */
        footer {
            grid-column: 4 / 13;
            grid-row: 3 / 4;
            background: rgba(233, 124, 0, 0.658);
            border-radius: 20px;
            padding: 15px;
            text-align: center;
            margin-bottom: 10px;
            margin-right: 10px;
        }

/* Nawigacja dla urzadzeń desktopowych */
    .sidebar {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
        background: rgba(250, 211, 144, 0.726); 
        border-radius: 20px;
        padding: 20px;
        color: white;
        margin-bottom: 10px;
        margin-left: 10px;box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        margin: 40px 0;
    }

    .sidebar a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: block;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
    }

    .sidebar a:hover {
        background-color: #fab030;
    }

/* Nawigacja dla urzadzeń mobilnych */ 
    .mobile-menu {
        display: none;
        grid-column: 1/13;
        grid-row: 2 / 3;
        box-sizing: border-box;
    }

    .mobile-menu ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0;
        margin: 10px;
    }

    .mobile-menu li {
        list-style: none; 
    }

    .mobile-menu li a {
        display: block;
        text-decoration: none;
        background-color: #fab030;
        color: white;
        text-align: center;
        padding: 10px 0;
        border-radius: 8px;
        font-weight: bold;
    }

    .mobile-menu li a:hover {
        background-color: #f09e10;
    }

/* responsywnosć - mobile */
    @media (max-width: 700px) {
        
        main, footer{
            grid-column: 1 / 13;
            margin-left: 10px;
            margin-right: 10px;
        }
                
        main {
            grid-row: 3/4;
        }

        footer {
            grid-row: 4/5;
        }

        .sidebar {
            display: none;
        }

        .mobile-menu {
            display: block;
        }

        .handmade-maszyna {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        .maszyna-img {
            width: 100%;
        }

        .ciekawostka {
            flex-direction: column;
            text-align: center;
        }

        .ciekawostka img {
        width: 100%;
        }
    }
